<!--https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product App</title>
    <link rel="stylesheet" tyoe="text/css" href="style.css"/>
</head>
<body>
<div class="nav-bar"></div>
<div id="app">
    <div class="product">
        <div class="product-image">
            <img v-bind:src="image" v-bind:alt="altText"/>
        </div>
        <div class="product-info">
            <h1>{{ product }}</h1>
<!--            also see v-else-if and v-show-->
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <li v-for="detail in details">{{detail}}</li>
<!--            key is optional but recommended, : is a short cut for v-bind:-->
            <div v-for="variant in variants" :key="variant.variantId">
                <p @mouseover="updateProduct(variant.variantImage)">{{variant.variantColor}}</p>
            </div>
        </div>
    </div>
    <div class="cart">
        <p>Cart({{cart}})</p>
<!--        @ is a short cut for v-on-->
        <button @click="addToCart">Add to Cart</button>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>

</body>
</html>
